<link rel="stylesheet" href="css/play.css">
<div class="row">
  <div class="col-md-12">
    <div id="game-finished-message">Game is finished</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <a href="<%= url("/") %>" id="reset-game" class="btn btn-danger btn-lg" role="button">RESET GAME</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Game Result</h2>
  </div>
</div>
<%= erb :players, players: players %>
