<link rel="stylesheet" href="css/game_result.css">
<div class="game_result">
  <div class="name">
   <div class="label">Name:</div>
    <div class="value"><%= name %></div>
  </div>
  <div class="tokens">
    <div class="label label-info">Tokens:</div>
    <div class="value"><%= tokens %></div>
  </div>
</div>
