<a href="<%= url("/play") %>" class="btn btn-primary btn-lg" role="button">It's Play!</a>
<h2>Play Result</h2>
<div id="banker_panel">
<h3>Banker</h3>
<%= play_result(game_results[:banker]) %>
</div>
<div id="punters_panel">
<h3>Punters</h3>
<% game_results[:punters].each do |result| %>
  <%= play_result(result) %>
<% end %>
</div>
