<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <title><%= @title %></title>
</head>
<body class="container">
<div class="row">
  <p class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Work in progress.</p>
  <h1><%= @title %></h1>
  <%= yield %>

  <h3>Dice Images</h3>
  <img src="img/dice16-1.gif">
  <img src="img/dice16-2.gif">
  <img src="img/dice16-3.gif">
  <img src="img/dice16-4.gif">
  <img src="img/dice16-5.gif">
  <img src="img/dice16-6.gif">

  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>
