<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Application -->
  <link rel="stylesheet" href="css/layout.css">
  <title><%= TITLE %></title>
</head>
<body class="container">

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Home</a>
  </div>
  <div class="collapse navbar-collapse">
    <a class="navbar-text" href="/players">Players</a>
    <a class="navbar-text navbar-right" href="/join">Join</a>
  </div>
</nav>

<div class="row">
  <h1 id="title"><%= TITLE %></h1>
</div>

<div id="body">
  <%= yield %>
</div>

<!-- requrie.js -->
<script
  src="//requirejs.org/docs/release/2.1.14/minified/require.js"
  data-main="js/main"
  type="text/javascript" charset="utf-8">
</script>
</body>
</html>
